body {
	background-image: url("../images/background.jpg");
	background-size: 100% auto;
}

#mainBox {
	width: 60%;
	margin: auto;
	border-style: outset;
	border-width: 5px;
	border-color: #c5e5a7;
	background-color: #d6fcba;
	padding: 5px;
	min-height: 500px;
}

#bodyTable {
	
}